<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="modal">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Modales</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="refresher">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Refresher</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="progressbar">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Range</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>